html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    text-align: center;
    padding: 20px;
    background-color: grey;
    border-bottom: 4px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    border-bottom: 4px solid white;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #8d8d8d;
}